- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

// Responses
mixin funny_way
  response#funny_way.
    !{getTranslatedString('javascript.botanist.funny_way')}

conversation(display_name="TwilioQuest Botanist")
  if lastResponse === "funny_way"
    statement.
      !{getTranslatedString('javascript.botanist.funny_way_statement')}

  else if worldState.southWing.hadSavedConversation
    statement.
      !{getTranslatedString('javascript.botanist.hadSavedConversation')}
    responses
      +funny_way

  else
    - worldState.southWing.hadSavedConversation = true;
    statement.
      !{getTranslatedString('javascript.botanist.hadSavedConversation_true')}
    responses
      +funny_way

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);