// Responses

conversation(display_name="Scientist")
  statement#default
  responses
  statements
    statement#default
      text.
        !{getTranslatedString('javascript.scientist-default.default')}
