- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

// Responses
mixin thanks
  response#thanks.
    !{getTranslatedString('javascript.scientist3.thanks')}

conversation(display_name="TwilioQuest Engineer")
  if lastResponse === "thanks"
    statement.
      !{getTranslatedString('javascript.scientist3.thanks.lastResponse')}

  else if worldState.eastWing.hadSavedConversation
    statement.
      !{getTranslatedString('javascript.scientist3.thanks.else_if.statement')}
    responses
      +thanks

  else
    - worldState.eastWing.hadSavedConversation = true;
    statement.
      !{getTranslatedString('javascript.scientist3.thank.else.statement')}
    responses
      +thanks

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);